* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.contenedor1 {
  background-color: #48adff;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 13px; }
  .contenedor1__row {
    height: 40px; }
  .contenedor1__link {
    text-decoration: none;
    color: white; }
    .contenedor1__link:hover {
      color: white; }

.miniNav__img {
  padding: 10px;
  width: 40vh; }

.mainNav {
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-decoration: none; }
  .mainNav__item:hover {
    text-decoration: underline; }

.presentacion {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
  color: #48adff; }
  .presentacion__desc {
    font-size: 1.2rem; }
    .presentacion__desc--special {
      color: #48adff; }

.seleccionToken {
  background-color: #48adff;
  padding: 20px;
  overflow: hidden; }
  .seleccionToken__item {
    margin: 20px;
    overflow: hidden; }
  .seleccionToken__img {
    height: 250px;
    transition: transform .2s;
    overflow: hidden; }
    .seleccionToken__img:hover {
      transform: scale(1.1);
      cursor: pointer; }

.footer {
  background-color: #e2e2e2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.7rem; }
  .footer__img {
    padding: 10px;
    width: 25vh; }

.row {
  padding: 15px; }

.instructivo {
  background-color: #efeeef;
  font-family: "Open Sans", sans-serif; }
  .instructivo__titulo {
    color: #48adff;
    font-weight: bold; }
  .instructivo__text {
    font-weight: bold;
    font-size: 1.2rem; }
  .instructivo__list {
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem; }
  .instructivo__img {
    border-radius: 20px 20px 20px 20px;
    border: solid black; }
  .instructivo__boton {
    background-color: #48adff;
    border-color: #48adff; }

.soimg:hover {
  cursor: pointer; }

.btn-flotante {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: solid black;
  letter-spacing: 2px;
  background-color: #48adff;
  padding: 18px 25px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  text-decoration: none; }

.btn-flotante:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff; }

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px; } }

.faq {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif; }
  .faq__titulo {
    font-size: 2rem;
    color: #48adff;
    font-weight: bold; }
  .faq__preg {
    font-weight: bold; }

.volverArriba {
  padding: 40px; }
  .volverArriba__img {
    width: 5vh; }
    .volverArriba__img:hover {
      -webkit-animation: wobble-hor-bottom 0.8s both;
      animation: wobble-hor-bottom 0.8s both; }

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }
