* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.contenedor1 {
  background-color: #48adff;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 13px; }
  .contenedor1__row {
    height: 40px; }
  .contenedor1__link {
    text-decoration: none;
    color: white; }
    .contenedor1__link:hover {
      color: white; }

.miniNav__img {
  padding: 10px;
  width: 30vh; }

.mainNav {
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-decoration: none; }
  .mainNav__item:hover {
    text-decoration: underline; }

.presentacion {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
  color: #48adff; }
  .presentacion__desc {
    font-size: 1.2rem; }
    .presentacion__desc--special {
      color: #48adff; }

.seleccionToken {
  background-color: #48adff;
  padding: 20px;
  overflow: hidden; }
  .seleccionToken__item {
    margin: 20px;
    overflow: hidden; }
  .seleccionToken__img {
    height: 250px;
    transition: transform .2s;
    overflow: hidden; }
    .seleccionToken__img:hover {
      transform: scale(1.1);
      cursor: pointer; }

.footer {
  background-color: #e2e2e2;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }
  .footer__img {
    padding: 10px; }

.row {
  padding: 15px; }

.instructivo {
  background-color: #efeeef;
  font-family: "Open Sans", sans-serif; }
  .instructivo__titulo {
    color: #48adff;
    font-weight: bold; }
  .instructivo__text {
    font-weight: bold;
    font-size: 1.2rem; }
  .instructivo__list {
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem; }
  .instructivo__img {
    border-radius: 20px 20px 20px 20px;
    border: solid black; }
  .instructivo__boton {
    background-color: #48adff;
    border-color: #48adff; }

.soimg:hover {
  cursor: pointer; }
