@import "./parciales/reset";
@import "./parciales/responsive";
@import "./parciales/variables";
@import "./parciales/contenedor1";
@import "./parciales/navbar";
@import "./parciales/presentacion";
@import "./parciales/seleccionToken";
@import "./parciales/footer";
@import "./parciales/safenet";
@import "./parciales/seleccionOs";
@import "./parciales/botonFaq";
@import "./parciales/seccionfaq";
@import "./parciales/volver";

