@import "./variables";

.miniNav{


    &__img{
        padding: 10px;
        width: 30vh;
    }
}

.mainNav{
    justify-content: center;
    font-family: $font-normal;
    text-decoration: none;

    &__item:hover{
       text-decoration: underline; 
    }
}


