@import "./variables";

.faq{
    background-color: white;
    color: black;
    font-family: $font-normal;
    

    &__titulo{
        font-size: 2rem;
        color: $color-celeste;
        font-weight: bold;
        padding: 15px;
    }

    &__preg{
        font-weight: bold;
    }

    &__item{
        padding: 15px;
    }
}